VITE_APP_BASE_URL="https://solutiondd.ruijieddns.com/ckk_api/"
VITE_IMG_PROFILE_URL="https://solutiondd.ruijieddns.com/ckk_api/"

# Production API URL
# VITE_APP_BASE_URL="https://ckk.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/ckk_api/"

# Feature Flags Configuration
# ฟีเจอร์สำหรับตารางเข้า-ออก
VITE_ENABLE_LINEUP_COLUMN=true # คอลัมแสดงข้อมูลเวลา เข้าแถว

# ฟีเจอร์สำหรับจัดการอุปกรณ์
VITE_ENABLE_DEVICE_USECASE=false # Use Case สำหรับการจัดการอุปกรณ์

# ฟีเจอร์สำหรับหน้าเช็คชื่อ
# person_confirmation = ต้องมี usecase เป็น person_confirmation
# any_timestamp = มี timeStamps มากกว่า 0 ก็ถือว่ามา
VITE_CHECKNAME_PRESENT_MODE=any_timestamp # โหมดการพิจารณาว่ามาแล้วหรือยังสำหรับหน้าเช็คชื่อ